
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');

body{
    background-color: black;
    font-family: 'Poppins', sans-serif;
}

.container{position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    border-radius: 10px;
    height: 200px;
    width: 400px;
}

.container{
    border: 2px solid plum;
    border-radius: 10px;
}
.container p{
    padding-top: 5px;
    text-align: center;

}

.container h3{
    padding-top: 15px;
    text-align: center;
    color: wheat;
}
.title_{
    margin-top: 10px;
}
h1{
    text-align: center;
}
p{
    margin-top: 15px;
    font-size: large;

    
}